# Spanish Environment Variables
VITE_LANGUAGE=es
VITE_API_URL=https://es-api.samebi.net
VITE_GA_TRACKING_ID=G-ES-XXXXXXXXX
VITE_EMAIL_SERVICE_URL=https://es-api.samebi.net/email
VITE_STRIPE_PUBLIC_KEY=pk_live_es_xxx
VITE_APP_NAME=Test de Burnout SAMEBI
VITE_APP_DESCRIPTION=Test de burnout científicamente validado basado en MBI
VITE_SUPPORT_EMAIL=soporte@samebi.net
VITE_COMPANY_NAME=SAMEBI España
VITE_DOMAIN=test-burnout.samebi.net
